<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index Page</title>
</head>
<body>
    <marquee direction="left" height="" width="500" scrollamount="10"><h2>Hello Pranav!</h2></marquee>    
    <h1>First file with Python using flask!</h1>
    <p>&nbsp&nbsp In this index we page we are seeing how to create flask app using template.</p>
    <p>&nbsp&nbsp We have used render template function in from flask module.</p>
    <br>
    <br>
    <br>
    <a href="http://127.0.0.1:5000/about">About Page --></a>

</body>
</html>