<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>First file with Python using flask!</h1>
    <p>&nbsp&nbsp In this index we page we are seeing how to create flask app using template.</p>
    <p>&nbsp&nbsp We have used render template function in from flask module.</p>
    <br>
    <br>
    <br>
    <a href="http://127.0.0.1:5000/about">About Page --></a>

</body>
</html>